body, html {
    margin: 0 auto;
    height: 100%;
    font-family: 'Comic Sans MS';
}
body{
    color: white;
    background: linear-gradient(to bottom, #000000, #333333);
    background-attachment: fixed;
}

.calendar{
    width: 300px;
    text-align: center;
    margin-left: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header button{
    cursor: pointer;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td{
    padding: 5px;
    border: 1px solid white;
}

.table th{
    font-weight: bold;
}

.table td{
    cursor: pointer;
}

.red{
    color: red;
}

.green{
    color: green;
}

#availability .green {
    cursor: pointer;
}

.green, .red{
    margin-bottom: 5px;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#your_appointments{
    margin-left: 50px;
    text-align: center;
}

ul {
  list-style-type: none;
}

#your_appointments ul li:before {
  content: 'x';
  margin-right: 10px;
  font-size: 18px;
  color: red;
  cursor: pointer;
}

#your_appointments li, #admin_panel li{
    padding-bottom: 15px;
}

.table td.disabled {
    color: white;
    background-color: red;
    cursor: not-allowed;
  }

#admin_panel{
    margin-left: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

input{
    padding: 5px;
    border: 1px groove white;
    font-family: 'Comic Sans MS';
    margin-bottom: 10px;
    width: 300px;
    border-radius: 8px;
}

button{
    cursor: pointer;
    padding: 3px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #222831, #ff5722);
    color: white;
    font-weight: bold;
    transition: backgroung-color 0.3s ease;
}

button:hover{
    background: linear-gradient(to bottom, #192129, #e64a19);
}
#all_appointments{
    padding-bottom: 50px;
}

#admin_panel button{
    width: 150px;
}

.header button{
    width: 50px;
}

@media (max-width: 767px) {
    .container{
        align-items: center;
        flex-direction: column;
    }
}